/* Estilos globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Corpo da página */
body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

/* Container principal */
.container {
    width: 600px;
    height: 600px;
    background-color: rgba(90, 87, 245, 0.9);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    position: relative;
}

/* Container para texto e botão */
.container__texto-botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    text-align: center;
}

/* Imagem do robô */
.container__imagem-robo {
    width: 150px;
    height: 150px;
}

/* Informações */
.container__informacoes {
    margin-top: 20px;
}

/* Texto de boas-vindas */
.container__boas-vindas {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.container__texto {
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
}

.container__texto-azul {
    color: #1875E8;
    font-weight: bold;
}

/* Botão */
.container__botao {
    background-color: #1875E8;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efeito de hover no botão */
.container__botao:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

/* Estilos de título */
h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
}

/* Estilo do ícone de troféu */
.container__informacoes img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
